{% extends 'base.html.twig' %}

{% block body %}
<h1>Clienti</h1>

<div class="content">
    <div id="table-container" class="col-12">
        <table id="table-row" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th id="th-1">ID</th>
                <th id="th-2">Ragione Sociale</th>
                <th id="th-3">Partita IVA</th>
                <th id="th-4">Indirizzo</th>
                <th id="th-5">Provincia</th>
                <th id="th-6">CAP</th>
                <th id="th-7">Email</th>
                <th id="th-8">PEC</th>
                <th id="th-9">Telefono</th>
                <th id="th-10">Settore</th>
                <th id="th-11">Agente</th>
                <th id="th-12">Data Acquisizione</th>
                <th id="th-13"></th>
            </tr>
            </thead>
            <tbody>
                {% for element in clienti %}
                <tr>
                <td>{{ element.id }}</td>
                <td>{{ element.ragioneSociale }}</td>
                <td>{{ element.partitaIVA }}</td>
                <td>{{ element.indirizzo }}</td>
                <td>{{ element.provincia }}</td>
                <td>{{ element.cap }}</td>
                <td>{{ element.email }}</td>
                <td>{{ element.pec }}</td>
                <td>{{ element.telefono }}</td>
                <td>{{ element.settoreAttivita }}</td>
                <td>{{ element.idAgente }}</td>
                <td>{{ element.dataAcquisizione|date('Y-m-d') }}</td>
                <td></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
    <script>
        $(function () {
            console.log($('#th-1').text());

        })
    </script>
{% endblock %}