{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agenti</h1><br>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-2 text-right d-flex justify-content-end">
                <a class="btn btn-primary" id="add_persone" href="{{ path("nuovo_agente") }}">Aggiungi Agente</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="table-container" class=" col-12 mt-2 l-6">
            <table id="table-row" class="table table-bordered table-striped ">
                <thead>
                <tr>
                    <th id="th-1 d-none">Codice</th>
                    <th id="th-2">Nome</th>
                    <th id="th-3">Cognome</th>
                    <th id="th-13">Cap</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for element in agenti %}
                    <tr data-id="{{ element.id }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ element.nome }}</td>
                        <td>{{ element.cognome }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    CAP
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">{{ element.codice_cap }}</li>

                                </ul>
                            </div>
                        </td>
                        <td class="btn_container">
                                <button  class="btn btn-primary">
                                    <i  class="bi bi-pencil edit_row"></i>
                                </button>
                                <button id="btn_remove" class="btn btn-danger remove_row">
                                    cancella
                                </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <style>
        .btn_container{
            width: 100px;
        }
    </style>
    <script>


        $(function(){

            let agente = {

                init: function () {

                    $("#table-row").on('click', '#btn_remove', function (e) {
                        console.log('CLICK')
                        if (!agente.popUpConfirm("sei sicuro che voui eliminare questo elemento?")) return
                       let target = $(e.target)
                        let row = target.parent().parent();
                        let id = row.attr('data-id');

                        agente.handleDelete(id)
                        agente.updateIndex();
                    });

                }, // fine init

                removeRow: function (row) {

                    if (!agente.popUpConfirm("sei sicuro che voui eliminare questo elemento?")) return
                    row.remove();

                },

                updateIndex: function (){

                    let rows = $('tr').slice(1, -1);

                    let i = 0

                    rows.each(function() {
                        $(this).find('td').first().text(i++);
                    });

                },

                setButtonOnClick: function () {

                    $('.remove_row').off('click').on('click', function () {

                        agente.removeRow($(this).parent().parent());

                        let rows = $('tbody tr');

                        rows.each(function (index) {

                            $(this).find('td').first().text(index + 1);

                        });

                    });

                    $('.edit_row').off('click').on('click', function () {

                        let rowId = $(this).closest('tr').data('id');

                        console.log('ID della riga:', rowId);

                        const baseUrl = "http://localhost:8080/agenti/edit/";

                        window.location.href = `${baseUrl}${rowId}`;

                    });

                },

                popUpConfirm: function (text) {

                    return confirm(text);

                },

                handleDelete: function(id) {
                            console.log(id)
                    $.ajax({
                        url: `api/agents/${id}`,
                        method: 'DELETE',
                        dataType: 'json',
                        success: function(response) {
                            if (response.ok) {
                                console.log(response);

                                $('tr[data-id="' + id + '"]').remove();
                            } else {
                                console.error('Errore:', response.error);
                            }
                        },
                        error: function(xhr, status, error) {
                            console.log('errore')
                            console.error('Errore');
                        }
                    });
                },

                updateIndexes: function() {
                    let rows = $('tbody tr');
                    rows.each(function (index) {
                        $(this).find('td').first().text(index + 1);
                    });
                }
            }

                    agente.init()

        })

    </script>
{% endblock %}